<html lang="en">

<head>

    {% block head %}

        <title>Foodfy</title>
    
    {% endblock %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">

</head>

<body>

    <header>

        <div class="logo">
            <a href="/"><img src="assets/logo.png" alt="Logo Foodfy"></a>
        </div>

        <div class = "links">
            <a href="/sobre">Sobre</a>
            <a href="/receitas">Receitas</a>
        </div>

    </header>

    {% block content %}{% endblock %}

    <footer>
        <p>Todos os direitos reservados, Foodfy receitas.</p>
    </footer>

    <script src="scripts.js"></script>
    
</body>

</html>