{% extends "layouts.njk" %}


    {% block head %}

        <title>Foodfy - Receitas</title>
        
    {% endblock %}

{% block content %}

    <section class="recipes">

        {% for card in cards %}
        <div class="card">
            <div class="recipe_image-container">
               <img src="{{card.image}}" alt= "Logo de {{card.title}}">
            </div>
            <div class="recipe_info">
                <p class="nome">{{card.title}}</p>
                <p class="chef">{{card.author}}</p>
            </div>
        </div>
        {% endfor %}

        {% for card in cards %}
        <div class="card">
            <div class="recipe_image-container">
               <img src="{{card.image}}" alt= "Logo de {{card.title}}">
            </div>
            <div class="recipe_info">
                <p class="nome">{{card.title}}</p>
                <p class="chef">{{card.author}}</p>
            </div>
        </div>
        {% endfor %}

    </section>

{% endblock %}

    