{% extends "layouts.njk" %}

    {% block head %}

        <title>Foodfy - Receita</title>
        
    {% endblock %}

{% block content %}

    <main>
        <div class="wrapper-receitas">
            <div class="wrapper-receitas-container">
                <img src="{{recipe.image}}" alt="Imagem de {{recipe.title}}">
            </div>
            <div class="wrapper-receitas-titulo">
                <h1>{{recipe.title}}</h1>
                <p>por{{recipe.author}}</p>
            </div>
        </div>
    
        <div class = "ingredientes" id="topico">
            <h2>Ingredientes<span id="option"></span></h2>
            <ul>
                {% for ingrediente in recipe.ingredients %}
                <li>{{ingrediente}};</li>
                {% endfor %}
            </ul>
        </div>

        <div class = "modo-de-preparo" id="topico">
            <h2>Modo de preparo<span id="option"></span></h2>
            <ul>
                {% for etapa in recipe.preparation %}
                <li>{{etapa}}</li>
                {% endfor %}
            </ul>
        </div>

        {% if recipe.information !== "" %}
        <div class = "info-adicional" id="topico">
            <h2>Informações adicionais<span id="option"></span></h2>
            <p>{{recipe.information}}</p>
        </div>
        {% endif %}
    </main>
{% endblock %}