{% extends "layouts.njk" %}

    {% block head %}

        <title>Foodfy - Sobre</title>
        
    {% endblock %}

{% block content %}

    <nav>
        <div class="about">
            <h2>Sobre o Foodfy</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean felis nulla, rutrum vitae mi sed, viverra aliquam diam. Sed sed quam eget urna faucibus pellentesque. Suspendisse cursus ut arcu sit amet pretium. In efficitur dignissim urna non facilisis. Nullam tincidunt ipsum a ipsum commodo pellentesque. Praesent bibendum, sem quis pharetra interdum, ligula eros tincidunt nisi, eget eleifend libero sapien sed eros. Morbi gravida, nulla nec faucibus tempus, nibh ligula fringilla dolor, consequat viverra elit orci eget odio. Phasellus gravida enim vel dolor eleifend, non viverra diam efficitur.</br> </br>

            Quisque id fringilla tortor, vitae tristique sapien. Aliquam suscipit feugiat justo id sagittis. Vivamus faucibus molestie urna ac luctus. Vivamus sit amet porttitor lacus, eget blandit neque. Duis sed sodales diam. Maecenas ullamcorper aliquam augue, id faucibus erat porttitor id. Sed vitae sem enim. Nulla id nibh consectetur, gravida metus vitae, bibendum eros. Aliquam sed odio ut risus tincidunt euismod. Proin nec tortor maximus, porttitor elit vitae, pulvinar velit. Pellentesque id tristique erat, quis dictum nibh. </p>
        </div>

        <div class="begin">
            <h3>Como tudo começou...</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean felis nulla, rutrum vitae mi sed, viverra aliquam diam. Sed sed quam eget urna faucibus pellentesque. Suspendisse cursus ut arcu sit amet pretium. In efficitur dignissim urna non facilisis. Nullam tincidunt ipsum a ipsum commodo pellentesque. Praesent bibendum, sem quis pharetra interdum, ligula eros tincidunt nisi, eget eleifend libero sapien sed eros. Morbi gravida, nulla nec faucibus tempus, nibh ligula fringilla dolor, consequat viverra elit orci eget odio. Phasellus gravida enim vel dolor eleifend, non viverra diam efficitur.</br> </br>

            Quisque id fringilla tortor, vitae tristique sapien. Aliquam suscipit feugiat justo id sagittis. Vivamus faucibus molestie urna ac luctus. Vivamus sit amet porttitor lacus, eget blandit neque. Duis sed sodales diam. Maecenas ullamcorper aliquam augue, id faucibus erat porttitor id. Sed vitae sem enim. Nulla id nibh consectetur, gravida metus vitae, bibendum eros. Aliquam sed odio ut risus tincidunt euismod. Proin nec tortor maximus, porttitor elit vitae, pulvinar velit. Pellentesque id tristique erat, quis dictum nibh. </p>
        </div>
        
        <div class="ourRecipes">
            <h4>Nossas receitas</h4>
            <p>Quisque id fringilla tortor, vitae tristique sapien. Aliquam suscipit feugiat justo id sagittis. Vivamus faucibus molestie urna ac luctus. Vivamus sit amet porttitor lacus, eget blandit neque. Duis sed sodales diam. Maecenas ullamcorper aliquam augue, id faucibus erat porttitor id. Sed vitae sem enim. Nulla id nibh consectetur, gravida metus vitae, bibendum eros. Aliquam sed odio ut risus tincidunt euismod. Proin nec tortor maximus, porttitor elit vitae, pulvinar velit. Pellentesque id tristique erat, quis dictum nibh. </p>
        </div>

    </nav>

{% endblock %}