@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

header{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: left;
    max-width: 930px;
    margin: 0 auto;

}

.logo img{
    padding: 30px 0;
    margin: 0;
    height: 26.9px;
}

.links{
    margin-left: 77px;

}

.links a{
    padding: 0 15px;
    width: 100%;
    text-decoration: none;
    color: black;
}



.links a:hover{
    font-weight: bold;
}


/*=== WRAPPER ===*/

#wrapper{
    display: flex;
    background-color: #FBDFDB;
    max-width: 940px;
    height: 366px;
    margin: 0 auto;
    border-radius: 30px;
}

#wrapper .info{
    margin-top: 117px;
    margin-left: 60px;
    text-align: left;
    line-height: 28px;
}

#wrapper .info h1{
    font-size: 32px;
    font-weight: bold;
}

#wrapper .info p{
    width: 316px;
    height: 84px;
    font-size: 18px;
    opacity: 0.7;
    
}

#wrapper img{
    width: 216px;
    height: 300px;
    margin-top: 66px;
    margin-right: 100px;
    margin-left: 259px;
}

div.about{
    max-width: 930px;
    margin: 0 auto;
    line-height: 28px;
}

.about h2{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 24px;
    /* margin-left: 13.7%; */
    /* max-width: 960px; */     
}

div.begin{
    max-width: 930px;
    margin: 30px auto 0;
    line-height: 28px;
}

.begin h3{
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 24px;
}

div.ourRecipes{
    max-width: 930px;
    margin: 30px auto 0;
    line-height: 28px;
}
.ourRecipes h4{
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 24px;
}

/* === CARDS === */

#title{
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 50px;
    margin-right: 765px;
}

.recipes{
    max-width: 940px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    margin: 0 auto;
    gap: 20px;
}

.recipe_image-container img{
    width: 300px;
    height: 140px;
    border-radius: 15px;
}

.card .info .nome{
    font-size: 18px;
}

.card .recipe_info .chef{
    font-size: 14px;
    color: #777777
}
.card:hover{
    cursor: pointer;
}

footer{
    width: 100%;
    margin-top: 50px;
    height: 62px;
    background-color: #EEEEEE;
    
}

footer p{
    font-size: 14px;
    line-height: 6.5vh;
    text-align: center;
    color: #999999;
}


/* === MODAL === */

.modal_overlay{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.modal{
    background-color: white;
    border-radius: 16px;
    width: 660px;
    height: 413px;
    margin: 27vh auto;
    position: relative;
}

.modal_image-container img{
    margin: 30px;
    width: 600px;
    height: 200px;
    border-radius: 15px; 
}

.modal_content{
    text-align: center;
}

.modal_content .nome{
    font-size: 24px;
}

.modal_content .chef{
    font-size: 18px;
    color: #777777;
}

.modal_close{
    text-align: center;
}

.modal_close:hover{
    cursor: pointer;
}

.modal_close p{
    color: #999999;
    margin-top: 60px;
}


/* === MODAL ACTIVE === */

.modal_overlay.active{
    opacity: 1;
    visibility: visible;
}


/*=== RECEITA ===*/

div.wrapper-receitas{
    margin: 0 auto;
    max-width: 940px;
}

.wrapper-receitas img{
    width: 940px;
    height: 280px;
    border-radius: 16px;
    object-fit: cover;
}

.wrapper-receitas-titulo{
    margin-top: 50px;
    margin-bottom: 11px;
    text-align: center;
}

.wrapper-receitas-titulo h1{ 
    font-size: 36px;
}

.wrapper-receitas-titulo p{
    font-size: 20px;
    color: #777777;
}

div#topico{
    max-width: 940px;
    margin:39px auto 0;
    line-height: 28px;
}

div#topico h2{
    font-size: 24px;
    margin-bottom: 20px;
}

div#topico li{
    margin-left: 18px;
}

div#topico li, p{
    font-size: 18px;
    color:  #444444;
}


